* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
--dark: rgb(73, 73, 73);
--light: rgb(140, 161, 167);
}
header {
    background-color:rgb(73, 73, 73);
    color: rgb(73, 73, 73);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    display: flex;
    justify-content:flex-end;
    border: 2px solid var(--light);
    background-color:var(--light);
    padding: 5px 40px;
}

.navlinks {
    list-style: none;
}

.navlinks li {
    display: flex;
    justify-content: flex-end;
    display: inline-block;
    padding: 0px 20px;
}

.navlinks li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    padding: 5x 10px;
    border-bottom: solid var(--light);
    color:var(--light);
}

html {
    scroll-behavior: smooth;
  }

.navlinks li a:hover {
    color: rgb(0, 157, 219);
}

.header2 {
    padding: 70px;
    display: flex;
    align-items: right;
    background: linear-gradient(var(--dark), var(--light));
}

.header2 h1 {
    color: var(--dark);
    padding: 5px;
}


body {
    background-color: rgb(226, 226, 226);
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}


section, aside {
    display: inline-block;
    padding: 30px;
    margin-right: 10%;
    min-width: 33%;
}

aside {
    width: 25%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position:relative;
}

aside h1 {
    padding-right: 10px;
    border-right: solid var(--light);
    text-align: right;
    color: var(--light);
    font-size: 45px;
}

section {
    width: 100%;
    display: flex;
    flex-direction: row;
}

section ul li {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


.footer li a {
    padding: 5px;
    list-style: none;
    text-align:right;
}

.footer {
    list-style: none;
}

.footer ul {
    display: flex;
    justify-content: space-evenly;
    display: inline-block;
    padding: 10px 20px;
}

.footer li {
    flex-direction: row;
    display: inline-block;
    margin-top: 50px;
}

.footer li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    padding: 5x 10px;
    border-bottom: solid var(--light);
    color:var(--light);
}

.footer li a:hover {
    color: rgb(126, 172, 190);
}


.body li img {
    height: 110px;
    width: 180px;
}

.body li img:hover {
 height: 105px;
 width: 175px;
}


 .stacked, .stacked .body {
    display: flex;
    flex-direction: row;
    flex-flow:wrap;
    justify-content: space-between ;
}

 .stacked .body {
    width: 100%;
    margin-bottom: 10px;
    flex: 1 1 0%;
}  




@media screen and (max-width: 992px) {
    header {
      
    }
  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    nav {
      
    }
  }
  
  /* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {
    .body {
     
    }
  }
  
  */
  
