* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
--dark: rgb(51, 51, 51);
--light: rgb(152, 167, 170);
}

p {
    padding: 10px;
}

header {
    background-color: var(--dark);
    color: var(--dark);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    display: flex;
    justify-content:flex-end;
    border: 2px solid var(--light);
    background-color:var(--light);
    padding: 5px 40px;
    border-radius: 50px;
}

.navlinks {
    list-style: none;
}

.navlinks li {
    display: flex;
    justify-content: flex-end;
    display: inline-block;
    padding: 0px 20px;
}

.navlinks li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    padding: 5x 10px;
    border-bottom: solid var(--light);
    color:var(--light);
}

html {
    scroll-behavior: smooth;
  }

.navlinks li a:hover {
    color: rgb(0, 157, 219);
}

.header2 {
    padding: 60px;
    margin-bottom: 30px;
    display: flex;
    align-items: right;
    background: linear-gradient(var(--dark), var(--light));
}

/* .header2 h1 {
    color: var(--dark);
    padding: 5px;
    border: 2px solid var(--light);
    background-color:var(--light);
    padding: 5px 40px;
    border-radius: 50px;
    /* margin-left: auto;
    margin-right: 10px; */
    justify-content: flex-end;
} */


body {
    background-color: rgb(226, 226, 226);
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

section aside {
    padding: 33px;
    margin-left: auto;
    margin-top: 25px;
     width: 25%;
}

section .floatright {
    padding: 33px;
     width: 75%;
}

/* section, aside {
    display: inline-block;
    padding: 46px 156px 50px 57px;
    margin-right: 1%;
    min-width: 33%;
} */

/* aside {
    width: 25%;
    display: flex;
    flex-flow: row wrap;
    position:relative;
} */

aside h1 {
    padding-right: 10px;
    border-right: solid var(--light);
    text-align: right;
    color: var(--light);
    font-size: 45px;
}

section {
    width: 100%;
    display: flex;
    flex-direction: row;
}

section ul li {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


.footer li a {
    padding: 5px;
    list-style: none;
    text-align:right;
}

.footer {
    list-style: none;
}

.footer ul {
    display: flex;
    justify-content: space-evenly;
    display: inline-block;
    padding: 10px 20px;
}

.footer li {
    flex-direction: row;
    display: inline-block;
    margin-top: 30px;
}

.footer li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    padding: 5x 10px;
    border-bottom: solid var(--light);
    color:var(--light);
}

.footer li a:hover {
    color: rgb(126, 172, 190);
}


.body li img {
    height: 180px;
    width: 320px;
    border-radius: 50px;
}

.body li img:hover {
 height: 175px;
 width: 315px;
 box-shadow: 10px 10px 5px #0005;
 
}

section .body {
    display: flex; 
    flex-direction: column;  
    justify-content: space-between;                      

}

.row1 li img{
    align-items: center;
}

.row2 li img {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
} 

.img {
    background: linear-gradient(var(--dark), var(--light));
    border-radius: 50px;
    
}

.body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    min-height: 200px;
    max-height: 200px;
    padding: 30px;
    margin: 20px;
    background-size: 100%;
    display: flex;
    flex-basis: calc(50% - 1em);
    color: var(--dark);
    text-decoration: none;
    align-items: flex-end;

}

.card:hover {
    box-shadow: 10px 10px 10px var(--dark);
    transition: all 0.3s ease 0s;
}

.card:first-child {
    min-height: 300px;
    flex-basis: 100%;
}


/* .card div {
    background-color: var(--light);
} */


@media screen and (max-width: 992px) {
     {
      
    }
  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 992px) {
    section {
     flex-direction: column;
      justify-content: center;
      align-items: center;
      /* border-bottom: 1px var(--dark); */
    } 

aside h1 {
    align-items: center;
    text-align: center;
    padding: 30px;
    border-bottom: 3px solid var(--light);
    border-right: none;
}

section .floatright {
    width: 100%;
}

section aside {
    width: 100%;
}

}
 
  
